@model IEnumerable<RisingTide.ViewModels.CalendarDay>

@{
    ViewBag.Title = "Projection";
}
<h2>Projection</h2>
<div id="placeholder" style="width:1200px;height:600px"></div>
<table>
    <tr>
        <th>
            Date
        </th>
        <th>
            End Of Day Balance
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndOfDayBalance)
        </td>
    </tr>
}

</table>
<script type="text/javascript">
    //$.plot($("#placeholder"), [[[0, 0], [1, 5]]]);
    $.getJSON("/Payments/GraphBalanceData", function (data) {
        //alert(data);
        //alert(data[0].EndOfDayBalance);
        //alert(new Date(parseInt(data[0].Date.substr(6))));
        var quoteData = [];
        for (var i in data) {
            var dp = data[i];
            var convertedDate = new Date(parseInt(dp.Date.substr(6)))
            quoteData.push([convertedDate, dp.EndOfDayBalance]);
        }

        $.plot($("#placeholder"), [quoteData], { xaxis: { mode: "time"} });
    });
</script>
