@model IEnumerable<RisingTide.ViewModels.CalendarDay>

@{
    ViewBag.Title = "Projection";
}
<h2>Projection</h2>
<div id="placeholder" style="width:1200px;height:600px"></div>
<table>
    <tr>
        <th>
            Date
        </th>
        <th>
            End Of Day Balance
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndOfDayBalance)
        </td>
    </tr>
}

</table>
<script type="text/javascript">
    $.plot($("#placeholder"), [[[0, 0], [1, 5]]]);
</script>
