@model IEnumerable<RisingTide.ViewModels.CalendarDay>
@{
    ViewBag.Title = "Projection";
}
<h2>
    Projection</h2>
<div id="placeholder" style="width: 1200px; height: 600px">
</div>
<table>
    <tr>
        <th>
            Date
        </th>
        <th>
            End Of Day Balance
        </th>
        <th>
            Payments
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndOfDayBalance)
            </td>
            <td>
                @foreach (var payment in item.Payments)
                { 
                    <text>@payment.Subject</text> <text>@payment.Amount</text>
                }
            </td>
        </tr>
    }
</table>
<script type="text/javascript">
    //$.plot($("#placeholder"), [[[0, 0], [1, 5]]]);
    $.getJSON("/Payments/GraphBalanceData", function (data) {
        //alert(data);
        //alert(data[0].EndOfDayBalance);
        //alert(new Date(parseInt(data[0].Date.substr(6))));
        var quoteData = [];
        for (var i in data) {
            var dp = data[i];
            var convertedDate = new Date(parseInt(dp.Date.substr(6)))
            quoteData.push([convertedDate, dp.EndOfDayBalance]);
        }

        $.plot($("#placeholder"),
        [quoteData], {
            series: {
                points: { show: true },
                lines: { show: true }
            },
            grid: { hoverable: true },
            xaxis: { mode: "time" }
        });

        function showTooltip(x, y, contents) {
            $('<div id="tooltip">' + contents + '</div>').css({
                position: 'absolute',
                display: 'none',
                top: y + 5,
                left: x + 5,
                border: '1px solid #fdd',
                padding: '2px',
                'background-color': '#fee',
                opacity: 0.80
            }).appendTo("body").fadeIn(200);
        }

        var previousPoint = null;
        $("#placeholder").bind("plothover", function (event, pos, item) {
            $("#x").text(pos.x.toFixed(2));
            $("#y").text(pos.y.toFixed(2));

            if (item) {
                if (previousPoint != item.dataIndex) {
                    previousPoint = item.dataIndex;

                    $("#tooltip").remove();
                    var x = item.datapoint[0],
                        y = item.datapoint[1].toFixed(2);
                    var xAsDate = new Date(x);
                    var day = xAsDate.getDate();
                    var month = xAsDate.getMonth() + 1;
                    var year = xAsDate.getFullYear();
                    showTooltip(item.pageX, item.pageY,
                                day + "/" + month + "/" + year + " = " + y);
                }
            }
        });
    });
</script>
