@model IEnumerable<RisingTide.ViewModels.CalendarDay>

@{
    ViewBag.Title = "Projection";
}

<h2>Projection</h2>

<table>
    <tr>
        <th>
            Date
        </th>
        <th>
            End Of Day Balance
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndOfDayBalance)
        </td>
    </tr>
}

</table>
